@page "/recipeviewer/{Name}"
@using MyCookbook.Components;
@using MyCookbook.Data
@using MyCookbook.Data.CookbookDatabase
@using Microsoft.Extensions.Localization;
@using MyCookbook.Services;
@inject IStringLocalizer<RecipeViewer> Localizer
@inject LanguageNotifier LanguageNotifier
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inherits OwningComponentBase<CookbookDatabaseService>

<PageTitle>Recipe - @Name</PageTitle>
<MudText Class="ma-2" Typo="Typo.h3">@Name</MudText>
<hr />

<AuthorizeView>
    <Authorized>
        <MudTable Items="@_recipe.Ingredients.OrderBy(x => x.Order)" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info" Dense="true"
                  RowEditCommit="CommitTableEdit" CanCancelEdit="true" EditButtonPosition="@TableEditButtonPosition.End" EditTrigger="@TableEditTrigger.EditButton">
            <HeaderContent>
                <MudTh>@Localizer["Ready"]</MudTh>
                <MudTh>@Localizer["Ingredient"]</MudTh>
                <MudTh>@Localizer["Amount"]</MudTh>
            </HeaderContent>
            <RowTemplate Context="ingredient">
                <MudCheckBox @bind-Checked="@IngredientDone[ingredient.Order]" Color="Color.Primary" Size="Size.Small"></MudCheckBox>
                <MudTd>@ingredient.Name</MudTd>
                <MudTd>@(ingredient.Amount + " " + ingredient.Unit)</MudTd>
                <MudTd Style="text-align:right">
                    <MudIcon Class="ma-0 cursor-pointer" Icon="@Icons.Material.Outlined.Delete" @onclick="@(async() => await DeleteIngredient(ingredient))" Size="Size.Small"></MudIcon>
                </MudTd>
                <MudTd DataLabel="Icons" Style="text-align:right">
                        <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.KeyboardArrowUp" Class="pa-0" OnClick="@(async() => await DecreaseIngredientOrder(ingredient))" />
                        <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.KeyboardArrowDown" Class="pa-0" OnClick="@(async() => await IncreaseIngredientOrder(ingredient))" />
                </MudTd>
            </RowTemplate>
            <RowEditingTemplate Context="ingredient">
                <MudCheckBox @bind-Checked="@IngredientDone[ingredient.Order]" Color="Color.Primary" Size="Size.Small"></MudCheckBox>
                <MudTd>
                    <MudTextField @bind-Value="@ingredient.Name" />
                </MudTd>
                <MudTd>
                    <MudTextField @bind-Value="@ingredient.Amount" />
                </MudTd>
                <MudTd>
                    <MudTextField @bind-Value="@ingredient.Unit" />
                </MudTd>
            </RowEditingTemplate>
            <EditButtonContent Context="button">
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
            </EditButtonContent>
        </MudTable>
        <br />
        <MudButton @onclick="AddIngredient" Variant="Variant.Filled" Color="Color.Primary">
            @Localizer["NewIngredient"]
        </MudButton>
        <hr />
        <MudPaper Class="pa-4 mt-4" Elevation="0">
            @foreach (var step in _recipe.Steps.OrderBy(x => x.Order))
            {
                var text = step.Description;
                var highlights = _recipe.Ingredients.Select(x => x.Name);
                <MudPaper Class="pa-2 ma-2" Outlined="true">
                    <MudStack Row="true" Justify="Justify.SpaceAround">
                        <MudCheckBox @bind-Checked="@StepDone[step.Order]" Color="Color.Primary"></MudCheckBox>
                        @if (EditMode[step.Order])
                        {
                            <MudTextField Text="@step.Description" Label="Description" Variant="Variant.Text" DebounceInterval="1000" Lines="3"
                                  ValueChanged="@(async(string s) => await UpdateStepDescription(step, s))" />
                        }
                        else if (StepDone[step.Order])
                        {
                            <MudText Class="ma-2 flex-fill" />
                        }
                        else
                        {
                            <MudText Class="ma-2 flex-fill">
                                <MudHighlighter Class="pa-1 mud-elevation-2 mud-theme-primary"
                                    Text="@text"
                                    HighlightedTexts="@highlights" />
                            </MudText>
                        }
                        <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" Class="pa-0" OnClick="@(async() => await DeleteStep(step))" />
                        <MudToggleIconButton Size="@Size.Medium" @bind-Toggled="@EditMode[step.Order]"
                                         Icon="@Icons.Material.Outlined.Edit" Title="Off"
                                         ToggledIcon="@Icons.Material.Outlined.EditOff" ToggledTitle="On" />
                        <MudStack>
                            <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.KeyboardArrowUp" Class="pa-0" OnClick="@(async() => await DecreaseStepOrder(step))" />
                            <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.KeyboardArrowDown" Class="pa-0" OnClick="@(async() => await IncreaseStepOrder(step))" />
                        </MudStack>
                    </MudStack>
                </MudPaper>
            }
            <br />
            <MudButton @onclick="AddStep" Variant="Variant.Filled" Color="Color.Primary">
                @Localizer["NewStep"]
            </MudButton>
            <MudButton @onclick="FinishCooking" Variant="Variant.Filled" Color="Color.Success">
                @Localizer["FinishCooking"]
            </MudButton>
        </MudPaper>
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>
@code
{
    [Parameter]
    public string Name { get; set; } = "";

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private string _userIdentityName = "";

    private bool _loading = true;

    private Recipe _recipe = new Recipe();
    private Dictionary<int, bool> EditMode = new Dictionary<int, bool>();
    private Dictionary<int, bool> StepDone = new Dictionary<int, bool>();
    private Dictionary<int, bool> IngredientDone = new Dictionary<int, bool>();

    protected override async Task OnInitializedAsync()
    {
        LanguageNotifier.SubscribeLanguageChange(this);

        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                _userIdentityName = user.Identity.Name ?? "";
            }
        }

        await RefreshRecipe();
        _loading = false;
    }

    private void CommitTableEdit(object element)
    {
        var ingredient = (Ingredient)element;
        var result = Task.Run(() => @Service.UpdateIngredientAsync(ingredient, _userIdentityName)).Result;
    }

    private async Task DeleteIngredient(Ingredient ingredient)
    {
        var result = await @Service.DeleteIngredientAsync(ingredient, _userIdentityName);
        await RefreshRecipe();
    }

    private async Task RefreshRecipe()
    {
        _recipe = await @Service.GetDetailedRecipeAsync(Name, _userIdentityName) ?? new Recipe();
        var stepsByOrder = _recipe.Steps.GroupBy(x => x.Order);
        var ingredientsByOrder = _recipe.Ingredients.GroupBy(x => x.Order);

        if (_recipe.Steps.Any() &&
            (stepsByOrder.Count() != _recipe.Steps.Count
            || _recipe.Steps.Max(x => x.Order) != _recipe.Steps.Count
            || _recipe.Steps.Min(x => x.Order) != 1))
        {
            var result = await @Service.FixStepsOrder(_recipe, _userIdentityName);
            _recipe = await @Service.GetDetailedRecipeAsync(Name, _userIdentityName) ?? new Recipe();
        }

        if (_recipe.Ingredients.Any() &&
            (ingredientsByOrder.Count() != _recipe.Ingredients.Count
            || _recipe.Ingredients.Max(x => x.Order) != _recipe.Ingredients.Count
            || _recipe.Ingredients.Min(x => x.Order) != 1))
        {
            var result = await @Service.FixIngredientsOrder(_recipe, _userIdentityName);
            _recipe = await @Service.GetDetailedRecipeAsync(Name, _userIdentityName) ?? new Recipe();
        }

        EditMode = _recipe.Steps.ToDictionary(x => x.Order, x => false);
        StepDone = _recipe.Steps.ToDictionary(x => x.Order, x => false);
        IngredientDone = _recipe.Ingredients.ToDictionary(x => x.Order, x => false);
    }

    private async Task AddIngredient()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<NewEntryDialog>();
        parameters.Add(x => x.EntryType, Localizer["IngredientLowercase"]);
        var dialog = await DialogService.ShowAsync<NewEntryDialog>("New ingredient", parameters, options);
        var dialogResult = await dialog.Result;

        if (!dialogResult.Canceled)
        {
            var ingredientName = dialogResult.Data.ToString();
            var ingredient = new Ingredient { Name = ingredientName, RecipeId = _recipe.Id };
            var createResult = await @Service.CreateIngredientAsync(ingredient, _userIdentityName);
            await RefreshRecipe();
        }
    }

    private async Task AddStep()
    {
        var step = new Step()
        {
            RecipeId = _recipe.Id,
            Order = _recipe.Steps.Count + 1
        };
        var createResult = await @Service.CreateStepAsync(step, _userIdentityName);
        await RefreshRecipe();
    }

    private async Task DeleteStep(Step step)
    {
        var result = await @Service.DeleteStepAsync(step, _userIdentityName);
        await RefreshRecipe();
    }

    private async Task UpdateStepDescription(Step step, string description)
    {
        step.Description = description;
        var result = await @Service.UpdateStepDescriptionAsync(step, _userIdentityName);
    }

    private async Task DecreaseIngredientOrder(Ingredient ingredient)
    {
        var result = await @Service.DecreaseIngredientOrder(ingredient, _userIdentityName);
        await RefreshRecipe();
    }

    private async Task IncreaseIngredientOrder(Ingredient ingredient)
    {
        var result = await @Service.IncreaseIngredientOrder(ingredient, _userIdentityName);
        await RefreshRecipe();
    }

    private async Task DecreaseStepOrder(Step step)
    {
        var result = await @Service.DecreaseStepOrder(step, _userIdentityName);
        await RefreshRecipe();
    }

    private async Task IncreaseStepOrder(Step step)
    {
        var result = await @Service.IncreaseStepOrder(step, _userIdentityName);
        await RefreshRecipe();
    }

    private void FinishCooking()
    {
        var result = Task.Run(() => @Service.UpdateRecipeLastCookedAsync(_recipe, _userIdentityName)).Result;
        NavigationManager.NavigateTo("");
    }

    public void Dispose() => LanguageNotifier.UnsubscribeLanguageChange(this);
}