@page "/recipebrowser"
@using MyCookbook.Components;
@using MyCookbook.Data
@using MyCookbook.Data.CookbookDatabase
@using Microsoft.Extensions.Localization;
@using MyCookbook.Services;
@inject IStringLocalizer<RecipeBrowser> Localizer
@inject LanguageNotifier LanguageNotifier
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILogger<RecipeBrowser> Logger
@inject IDialogService DialogService
@inherits OwningComponentBase<CookbookDatabaseService>

<PageTitle>Recipe browser</PageTitle>
<MudText Class="ma-2" Typo="Typo.h3">@Localizer["RecipeBrowser"]</MudText>

<AuthorizeView>
    <Authorized>
        <MudTable @ref="_tableRef" Items="@_recipes" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info" Dense="true"
                  RowEditCommit="CommitTableEdit" CanCancelEdit="true" EditButtonPosition="@TableEditButtonPosition.End"
                  EditTrigger="@TableEditTrigger.EditButton">
            <HeaderContent>
                <MudTh>@Localizer["Name"]</MudTh>
                <MudTh>@Localizer["Category"]</MudTh>
                <MudTh>@Localizer["ActiveDuration"]</MudTh>
                <MudTh>@Localizer["Duration"]</MudTh>
                <MudTh>@Localizer["Cooked"]</MudTh>
            </HeaderContent>
            <RowTemplate Context="recipe">
                <MudTd DataLabel="Name" Class="cursor-pointer" @onclick="@(async() => await OpenRecipe(recipe))">@recipe.Name</MudTd>
                <MudTd DataLabel="Category">@recipe.Category</MudTd>
                <MudTd DataLabel="Active Duration">@recipe.ActiveDurationText</MudTd>
                <MudTd DataLabel="Duration">@recipe.DurationText</MudTd>
                <MudTd DataLabel="Cooked">@(recipe.LastCooked?.ToShortDateString() ?? @Localizer["Never"])</MudTd>
                <MudTd DataLabel="Icons" Style="text-align:right">
                    <MudIcon Class="ma-4 cursor-pointer" Icon="@Icons.Material.Outlined.Delete" @onclick="@(async() => await DeleteRecipe(recipe))" Size="Size.Small"></MudIcon>
                </MudTd>
            </RowTemplate>
            <RowEditingTemplate Context="recipe">
                <MudTd DataLabel="Name">
                    <MudTextField @bind-Value="@recipe.Name" OnKeyPress="CommitEdit" />
                </MudTd>
                <MudTd DataLabel="Category">
                        <MudTextField @bind-Value="@recipe.Category" OnKeyPress="CommitEdit" />
                </MudTd>
                <MudTd DataLabel="Active Duration">
                        <MudTextField @bind-Value="@recipe.ActiveDurationText" OnKeyPress="CommitEdit" />
                </MudTd>
                <MudTd DataLabel="Duration">
                        <MudTextField @bind-Value="@recipe.DurationText" OnKeyPress="CommitEdit" />
                </MudTd>
            </RowEditingTemplate>
            <EditButtonContent Context="button">
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
            </EditButtonContent>
        </MudTable>
        <br />
        <MudButton @onclick="AddRecipe" Variant="Variant.Filled" Color="Color.Primary">
            @Localizer["NewRecipe"]
        </MudButton>
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>
@code
    {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private string _userIdentityName = "";

    private bool _loading = true;

    private List<Recipe> _recipes = new List<Recipe>();

    private MudTable<Recipe> _tableRef;

    protected override async Task OnInitializedAsync()
    {
        LanguageNotifier.SubscribeLanguageChange(this);

        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                _userIdentityName = user.Identity.Name ?? "";
            }
        }

        await RefreshRecipes();
        _loading = false;
    }

    private async Task OpenRecipe(Recipe recipe)
    {
        NavigationManager.NavigateTo($"Recipeviewer/{recipe.Name}");
    }

    private void CommitEdit(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            _tableRef.SetEditingItem(null);
        }
    }

    private void CommitTableEdit(object element)
    {
        var recipe = (Recipe)element;
        var result = Task.Run(() => @Service.UpdateRecipeAsync(recipe, _userIdentityName)).Result;
    }

    private async Task DeleteRecipe(Recipe recipe)
    {
        var result = await @Service.DeleteRecipeAsync(recipe, _userIdentityName);
        await RefreshRecipes();
    }

    private async Task RefreshRecipes()
    {
        _recipes = await @Service.GetRecipesAsync(_userIdentityName);
    }

    private async Task AddRecipe()
    {
        try
        {
            var options = new DialogOptions { CloseOnEscapeKey = true };
            var parameters = new DialogParameters<NewEntryDialog>();
            parameters.Add(x => x.EntryType, Localizer["recipe"]);
            var dialog = await DialogService.ShowAsync<NewEntryDialog>("New recipe", parameters, options);
            var dialogResult = await dialog.Result;

            if (!dialogResult.Canceled)
            {
                var recipeName = dialogResult.Data.ToString();
                var recipe = new Recipe { Name = recipeName };
                var createResult = await @Service.CreateRecipeAsync(recipe, _userIdentityName);
                await RefreshRecipes();
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to create recipe.");
        }
    }

    public void Dispose() => LanguageNotifier.UnsubscribeLanguageChange(this);
}