@page "/recipebrowser"
@using MyCookbook.Components;
@using MyCookbook.Data
@using MyCookbook.Data.CookbookDatabase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inherits OwningComponentBase<CookbookDatabaseService>

<MudText Class="ma-2" Typo="Typo.h3">Recipe browser</MudText>

<AuthorizeView>
    <Authorized>
        <MudTable Items="@_recipes" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info" Dense="true"
                  RowEditCommit="CommitTableEdit" CanCancelEdit="true" EditButtonPosition="@TableEditButtonPosition.End" EditTrigger="@TableEditTrigger.EditButton">
            <HeaderContent>
                <MudTh>Name</MudTh>
                <MudTh>Category</MudTh>
                <MudTh>Duration</MudTh>
            </HeaderContent>
            <RowTemplate Context="recipe">
                <MudTd DataLabel="Name">@recipe.Name</MudTd>
                <MudTd DataLabel="Category">@recipe.Category</MudTd>
                <MudTd DataLabel="Duration">@recipe.DurationText</MudTd>
                <MudTd DataLabel="Icons" Style="text-align:right">
                    <MudIcon Class="ma-4 cursor-pointer" Icon="@Icons.Material.Outlined.OpenInBrowser" @onclick="@(() => OpenRecipe(recipe))" Size="Size.Small"></MudIcon>
                    <MudIcon Class="ma-4 cursor-pointer" Icon="@Icons.Material.Outlined.Delete" @onclick="@(async() => await DeleteRecipe(recipe))" Size="Size.Small"></MudIcon>
                </MudTd>
            </RowTemplate>
            <RowEditingTemplate Context="recipe">
                <MudTd DataLabel="Name">@recipe.Name</MudTd>
                <MudTd DataLabel="Category">
                    <MudTextField @bind-Value="@recipe.Category"/>
                </MudTd>
                <MudTd DataLabel="Duration">
                    <MudTextField @bind-Value="@recipe.DurationText" />
                </MudTd>
            </RowEditingTemplate>
            <EditButtonContent Context="button">
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
            </EditButtonContent>
        </MudTable>
        <br />
        <MudButton @onclick="AddRecipe" Variant="Variant.Filled" Color="Color.Primary">
            New recipe
        </MudButton>
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>
@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private string _userIdentityName = "";

    private bool _loading = true;

    private List<Recipe> _recipes = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                _userIdentityName = user.Identity.Name ?? "";
            }
        }

        await RefreshRecipes();
        _loading = false;
    }

    private void CommitTableEdit(object element)
    {
        var recipe = (Recipe)element;
        var result = Task.Run(() => @Service.UpdateRecipeAsync(recipe, _userIdentityName)).Result;
    }

    private void OpenRecipe(Recipe recipe)
    {
        NavigationManager.NavigateTo($"Recipeviewer/{recipe.Name}");
    }

    private async Task DeleteRecipe(Recipe recipe)
    {
        var result = await @Service.DeleteRecipeAsync(recipe, _userIdentityName);
        await RefreshRecipes();
    }

    private async Task RefreshRecipes()
    {
        _recipes = await @Service.GetRecipesAsync(_userIdentityName);
    }

    private async Task AddRecipe()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<NewEntryDialog>();
        parameters.Add(x => x.EntryType, "recipe");
        var dialog = await DialogService.ShowAsync<NewEntryDialog>("New recipe", parameters, options);
        var dialogResult = await dialog.Result;

        if (!dialogResult.Canceled)
        {
            var recipeName = dialogResult.Data.ToString();
            var recipe = new Recipe{ Name = recipeName };
            var createResult = await @Service.CreateRecipeAsync(recipe, _userIdentityName);
            await RefreshRecipes();
        }
    }
}