@page "/browser"
@using Microsoft.AspNetCore.Identity;
@using MyCookbook.Components;
@using MyCookbook.Data
@using MyCookbook.Data.CookbookDatabase
@using Microsoft.Extensions.Localization;
@using MyCookbook.Services;
@using System.Security.Claims;
@using MyCookbook.Utils;
@inject IStringLocalizer<RecipeBrowser> Localizer
@inject LanguageNotifier LanguageNotifier
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILogger<RecipeBrowser> Logger
@inject IDialogService DialogService
@inject CultureProvider CultureProvider
@inherits OwningComponentBase<CookbookDatabaseService>
@implements IDisposable

<PageTitle>Recipe browser</PageTitle>

<AuthorizeView>
    <Authorized>
        <br />
        <RecipeTable @ref="_recipeTable" UserIdentityName="@_userIdentityName"
            Editable="true" TableName="@Localizer["Recipes"]" RecipeGetter="@(async() => await @Service.GetRecipesAsync(_userIdentityName))"></RecipeTable>
        <br />
        <MudButton @onclick="AddRecipe" Variant="Variant.Filled" Color="Color.Primary">
            @Localizer["NewRecipe"]
        </MudButton>
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>
@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private string _userIdentityName = "";

    private RecipeTable _recipeTable;

    protected override async Task OnInitializedAsync()
    {
        LanguageNotifier.SubscribeLanguageChange(this);

        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                _userIdentityName = user.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? "";
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _recipeTable?.Load();
        }
    }

    private async Task AddRecipe()
    {
        try
        {
            var options = new DialogOptions { CloseOnEscapeKey = true };
            var parameters = new DialogParameters<NewEntryDialog>();
            parameters.Add(x => x.EntryType, Localizer["recipe"]);
            var dialog = await DialogService.ShowAsync<NewEntryDialog>("New recipe", parameters, options);
            var dialogResult = await dialog.Result;

            if (!dialogResult.Canceled)
            {
                var recipeName = dialogResult.Data.ToString();
                var recipe = new Recipe { Name = recipeName };
                var createResult = await @Service.CreateRecipeAsync(recipe, _userIdentityName);
                await _recipeTable.RefreshRecipes();
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to create recipe.");
        }
    }

    public void Dispose() => LanguageNotifier.UnsubscribeLanguageChange(this);
}